::ng-deep .dx-list-item-icon {
  margin-right: 10px;
}

.dx-list-item-icon-container .dx-icon {
  color: lightgray;
}

::ng-deep .dx-list-item {
  border-top: none;
}

#span {
  color: lightgray;
}

.title-container {
  display: flex;
  align-items: center;
}

h2 {
  color: lightgray;
  margin-left: 10px; 
  margin-right: 10px;
}

#menu {
  background-color: transparent;
  border: none; 
  padding: 20px; 
  margin-top: 5px;
  margin-left: 20px;
  cursor: pointer;
}

::ng-deep #menu .dx-icon {
  margin-right: 10px; 
  color: lightgray;
}
