<ngx-graph [links]="[
    {
      id: 'a',
      source: 'first',
    target: 'second',
      label: 'is parent of'
    }, {
      id: 'b',
      source: 'first',
      target: 'third',
      label: 'custom label'
    }
  ]" [nodes]="[
    {
      id: 'first',
      label: 'A'
    }, {
      id: 'second',
      label: 'B'
    }, {
      id: 'third',
      label: 'C'
    }
  ]" [showMiniMap]="false" [view]="[800, 500]" class="chart-container">

  <ng-template #defsTemplate>
    <svg:marker
      id="arrow"
      markerHeight="4"
      markerWidth="4"
      orient="auto"
      refX="8"
      refY="0"
      viewBox="0 -5 10 10"
    >
      <svg:path class="arrow-head" d="M0,-5L10,0L0,5"/>
    </svg:marker>
  </ng-template>

  <ng-template #nodeTemplate let-node>
    <svg:g
      (click)="click()"
      class="node"
    >
      <svg:rect
        [attr.fill]="node.data.color"
        [attr.height]="node.dimension.height"
        [attr.width]="node.dimension.width"
      />
      <svg:text
        [attr.x]="10"
        [attr.y]="node.dimension.height / 2"
        alignment-baseline="central"
      >
        {{ node.label }}
      </svg:text>
    </svg:g>
  </ng-template>
</ngx-graph>

<div class="page">
  <div class="page-content">
    <div class="page-content-data">
      <div class="page-content-data-inner">

        <form *ngIf="!showForm" [formGroup]="form" class="formAddEntity">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Aggiungi Entità</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h3>NOME ENTITA'</h3>
              <mat-form-field>
                <input formControlName="nome" matInput placeholder="Nome entità">
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
              <button (click)="openForm()" mat-button>Aggiungi campi</button>
            </mat-card-actions>
            <br>
            <mat-card-actions>
              <button (click)="saveConfiguration()" mat-button>Salva</button>
            </mat-card-actions>
            <br>
            <mat-card-actions>
              <button (click)="export()" mat-button>Esporta configurazione</button>
            </mat-card-actions>
          </mat-card>
        </form>

        <br>

        <form *ngIf="showForm" [formGroup]="form" class="formAddAttributes">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Aggiungi Attributi</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field>
                <input formControlName="nomeAttributo" matInput placeholder="Nome attributo">
              </mat-form-field>
              <mat-form-field>
                <input formControlName="type" matInput placeholder="Tipo attributo">
              </mat-form-field>
              <mat-form-field>
                <input formControlName="isrequired" matInput placeholder="Campo Required">
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
              <button (click)="saveAttributes()" mat-button>Salva</button>
            </mat-card-actions>
            <br>
            <mat-card-actions>
              <button (click)="closeAttributesForm()" mat-button>Chiudi</button>
            </mat-card-actions>
          </mat-card>
        </form>

      </div>
    </div>
  </div>
</div>

