::ng-deep #diagram {
  height: 100%;
}

::ng-deep #diagram .template .template-name {
  font-weight: bold;
  text-decoration: underline;
}

::ng-deep #diagram .template .template-title {
  font-style: italic;
}

::ng-deep #diagram .template .template-button {
  cursor: pointer;
  font-size: 8pt;
  fill: navy;
}

::ng-deep #diagram .template .template-button:hover {
  text-decoration: underline;
}

::ng-deep .dx-popup-content {
  padding: 0;
}

::ng-deep .dx-popup-content .dx-fieldset.buttons {
  display: flex;
  justify-content: flex-end;
}

::ng-deep .dx-popup-content .dx-fieldset.buttons > * {
  margin-left: 10px;
}

::ng-deep .dx-popup-content .dx-fieldset.buttons > #update {
  background-color: #0565af;
}

::ng-deep .dx-popup-content .dx-fieldset.buttons > #delete {
  background-color: firebrick;
  color: #ffffff;
}

::ng-deep .dx-popup-content .dx-fieldset.buttons.bottom > * {
  margin-bottom: 10px;
}

::ng-deep div.dx-field-label {
  padding-right: 0;
}

h3 {
  margin: 15px;
}

::ng-deep .rect {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  height: 100%;
}

::ng-deep .demo-light {
  //background: rgba(245, 229, 166, 0.5);
}

::ng-deep .demo-dark {
  //background: rgba(148, 215, 199, 0.5);
}

::ng-deep span.dx-checkbox-icon {
  border-color: #0565af;
  color: #0565af;
}