::ng-deep #diagram {
  height: 100%;
}

::ng-deep #diagram .template .template-name {
  font-weight: bold;
  text-decoration: underline;
}

::ng-deep #diagram .template .template-title {
  font-style: italic;
}

::ng-deep #diagram .template .template-button {
  cursor: pointer;
  font-size: 8pt;
  fill: navy;
}

::ng-deep #diagram .template .template-button:hover {
  text-decoration: underline;
}

::ng-deep .dx-popup-content {
  padding: 0;
}

::ng-deep .dx-popup-content .dx-fieldset.buttons > * {
  margin-left: 10px;
}

::ng-deep .dx-popup-content .dx-fieldset.buttons.bottom > * {
  margin-bottom: 10px;
}

::ng-deep div.dx-field-label {
  padding-right: 0;
}

h3 {
  margin: 15px;
}

::ng-deep .tableKeys {
  padding-top: 15px;
}

::ng-deep .rightSide {
  padding-left: 60px;
}

::ng-deep span.dx-checkbox-icon {
  border-color: #0565af;
  color: #0565af;
}

::ng-deep .saveButton > div.dx-item-content.dx-toolbar-item-content > div.dx-widget.dx-button.dx-button-mode-contained.dx-button-normal.dx-button-has-icon > div.dx-button-content > i.dx-icon {
  color: #0565af;
}

::ng-deep .deleteButton > div.dx-item-content.dx-toolbar-item-content > div.dx-widget.dx-button.dx-button-mode-contained.dx-button-normal.dx-button-has-icon > div.dx-button-content > i.dx-icon {
  color: firebrick;
}

::ng-deep .cancelButton > div.dx-item-content.dx-toolbar-item-content > div.dx-widget.dx-button.dx-button-mode-contained.dx-button-normal.dx-button-has-icon > div.dx-button-content > i.dx-icon {
  color: #333;
}

::ng-deep .dx-overlay-content .dx-popup-content > .dx-template-wrapper {
  height: unset;
  width: unset;
}

::ng-deep .gridTitle {
  padding-left: 10px;
  font-size: 20px;
}

#gridContainer {
  margin: 5px;
}