<!-- The diagram: simple view keeps an entire grid instead of only the part you're using. -->
<dx-diagram #diagram
            (onCustomCommand)="onCustomCommand($event)"
            (onDisposing)="onDisposing()"
            (onItemDblClick)="editItem($event.item.dataItem)"
            (onRequestEditOperation)="requestEditOperationHandler($event)"
            (onRequestLayoutUpdate)="requestLayoutUpdateHandler($event)"
            (onSelectionChanged)="selectionChangedHandler($event)"
            [simpleView]="false"
            id="diagram"
>
    <!-- The menu you get after left-clicking on an object or the diagram. -->
    <dxo-context-menu [enabled]="true"></dxo-context-menu>

    <!-- The little bar with the undo/redo button that gets covered so it's disabled and its buttons moved. -->
    <dxo-history-toolbar [visible]="false"></dxo-history-toolbar>

    <!-- The totality of entities.
         There can only be one set of nodes, so all the items need to be stored in the same data source. -->
    <dxo-nodes
            [customDataExpr]="itemCustomDataExpr"
            [dataSource]="dataSource"
            keyExpr="name"
            textExpr="name"
            typeExpr="type"
    >
        <dxo-auto-layout type="layered"></dxo-auto-layout>
    </dxo-nodes>

    <!-- The totality of links. -->
    <dxo-edges
            [dataSource]="linksDataSource"
            fromExpr="first_item"
            keyExpr="id"
            toExpr="second_item"
    ></dxo-edges>

    <!-- The toolbar on the left-bottom corner. -->
    <dxo-view-toolbar [visible]="true">
        <dxi-command name="toolbox"></dxi-command>
        <dxi-command name="separator"></dxi-command>
        <dxi-command name="undo"></dxi-command>
        <dxi-command name="redo"></dxi-command>
        <dxi-command name="separator"></dxi-command>
        <dxi-command name="selectAll"></dxi-command>
        <dxi-command name='layoutTreeTopToBottom'></dxi-command>
        <dxi-command name="separator"></dxi-command>
        <dxi-command icon="export" name='export' text="Export JSON"></dxi-command>
        <dxi-command icon="alignleft" name='viewJson'
                     text="View JSON"></dxi-command>
        <dxi-command icon="tips" name='generateCode' text="Generate code from Diagram"></dxi-command>
    </dxo-view-toolbar>

    <!-- A button for modifying the page layout, the text font and dimensions. -->
    <dxo-properties-panel visibility="disabled"></dxo-properties-panel>

    <!-- The list of possible shapes to drag on the diagram, with a custom group of objects. -->
    <dxo-toolbox [shapeIconsPerRow]="1" [showSearch]="false">
        <dxi-group [expanded]="true" category="iot-devq" displayMode="texts" title="IoT"></dxi-group>
    </dxo-toolbox>

    <!-- The entity custom shape. -->
    <dxi-custom-shape
            [allowEditText]="false"
            [defaultHeight]="1"
            [defaultWidth]="1.5"
            [maxHeight]="2"
            [maxWidth]="3"
            [minHeight]="1"
            [minWidth]="1.5"
            [toolboxWidthToHeightRatio]="2"
            baseType="ellipse"
            category="iot-devq"
            defaultText="Entity"
            title="New Entity"
            type="entity"
    >
    </dxi-custom-shape>

    <!-- The table custom shape. -->
    <dxi-custom-shape
            [allowEditText]="false"
            [defaultHeight]="1"
            [defaultWidth]="1.5"
            [maxHeight]="2"
            [maxWidth]="3"
            [minHeight]="1"
            [minWidth]="1.5"
            [toolboxWidthToHeightRatio]="2"
            baseType="database"
            category="iot-devq"
            defaultText="Table"
            title="New Table"
            type="table"
    >
    </dxi-custom-shape>

    <!-- The menu that appears at the end of a connector that leads to nothing to create a new object. -->
    <dxo-context-toolbox [enabled]="false"></dxo-context-toolbox>
</dx-diagram>

<dx-popup
        [(visible)]="popupVisible"
        [dragEnabled]="true"
        [height]="500"
        [hideOnOutsideClick]="false"
        [showCloseButton]="false"
        [showTitle]="true"
        [width]="550"
        title="Edit {{currentItem.type | titlecase}}"
>
    <div *dxTemplate="let data of 'content'">
        <form (submit)="updateItem()" [formGroup]="getFormGroup()">
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">ID</div>
                    <div class="dx-field-value">
                        <dx-text-box
                                [disabled]="true"
                                [inputAttr]="{ 'aria-label': 'ID' }"
                                value="{{currentItem.ID}}"
                        ></dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Name</div>
                    <div class="dx-field-value">
                        <dx-text-box
                                [(value)]="currentItem.name"
                                [inputAttr]="{ 'aria-label': 'Name' }"
                                formControlName="name"
                        ></dx-text-box>
                    </div>
                </div>

                <div [ngSwitch]="this.currentItem.type">

                    <div *ngSwitchCase="'entity'" class="entityCondition">
                        <div class="dx-field">
                            <div class="dx-field-label">Table</div>
                            <!-- TODO crea edge quando cambio -->
                            <div class="dx-field-value">
                                <dx-select-box
                                        [(value)]="currentItem.table"
                                        [dataSource]="tables"
                                        [inputAttr]="{ 'aria-label': 'Table' }"
                                        [searchEnabled]="true"
                                        displayExpr="name"
                                        formControlName="table"
                                        searchMode='contains'
                                        valueExpr="name"
                                ></dx-select-box>
                            </div>
                        </div>
                    </div>

                    <div *ngSwitchCase="'table'" class="tableCondition">
                        <div class="dx-field">
                            <div class="dx-field-label">Partition Key</div>
                            <div class="dx-field-value">
                                <dx-text-box
                                        [(value)]="currentItem.partition_key"
                                        [inputAttr]="{ 'aria-label': 'Partition Key' }"
                                        formControlName="partition_key"
                                ></dx-text-box>
                            </div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Sort Key</div>
                            <div class="dx-field-value">
                                <dx-text-box
                                        [(value)]="currentItem.sort_key"
                                        [inputAttr]="{ 'aria-label': 'Sort Key' }"
                                        formControlName="sort_key"
                                ></dx-text-box>
                            </div>
                        </div>
                    </div>

                    <div *ngSwitchCase="'link'">
                        <div class="dx-field">
                            <div class="dx-field-label">Numerosity</div>
                            <div class="dx-field-value">
                                <dx-radio-group
                                        [(value)]="currentItem.numerosity"
                                        [items]="numerosityOptions"
                                        formControlName="numerosity"
                                        layout="horizontal">
                                </dx-radio-group>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="currentItem.type !== 'table'">
                    <hr>
                    <h3>Fields</h3>
                </div>
            </div>

            <div *ngIf="currentItem.type !== 'table'">
                <div *ngFor="let field of currentItem.fields" class="dx-fieldset">
                    <h4>Field</h4>
                    <!-- TODO metti Data Grid -->
                    <dx-box [height]="200" direction="row" width="99%">
                        <dxi-item [ratio]="1" class="rect demo-dark">
                            <div class="dx-field">
                                <div class="dx-field-label">Name</div>
                                <div class="dx-field-value">
                                    <dx-text-box
                                            [(value)]="field.name"
                                            [inputAttr]="{ 'aria-label': 'name' }"
                                    ></dx-text-box>
                                </div>
                            </div>
                            <div class="dx-field">
                                <div class="dx-field-label">Required</div>
                                <!-- TODO metti Check Box -->
                                <div>
                                    <dx-check-box
                                            [(value)]="field.required"
                                            [text]="field.required ? 'Required' : 'Not required' ">
                                    </dx-check-box>
                                </div>
                            </div>
                            <div class="dx-field">
                                <div class="dx-field-label">Min length</div>
                                <div class="dx-field-value">
                                    <dx-number-box
                                            [(value)]="field.minLength"
                                            [inputAttr]="{ 'aria-label': 'Minimum length' }"
                                    ></dx-number-box>
                                </div>
                            </div>
                            <div class="dx-field">
                                <div class="dx-field-label">Min value</div>
                                <div class="dx-field-value">
                                    <dx-number-box
                                            [(value)]="field.minimum"
                                            [inputAttr]="{ 'aria-label': 'Minimum value' }"
                                    ></dx-number-box>
                                </div>
                            </div>
                        </dxi-item>
                        <dxi-item [ratio]="1" class="rect demo-light">
                            <div class="dx-field">
                                <div class="dx-field-label">Type</div>
                                <div class="dx-field-value">
                                    <dx-select-box
                                            [(value)]="field.type"
                                            [dataSource]="fieldTypes"
                                            [inputAttr]="{ 'aria-label': 'Type' }"
                                            [searchEnabled]="true"
                                            searchMode='contains'
                                    ></dx-select-box>
                                </div>
                            </div>
                            <div class="dx-field">
                                <div class="dx-field-label">Allowed values</div>
                                <div class="dx-field-value">
                                    <dx-text-box
                                            [inputAttr]="{ 'aria-label': 'Allowed values' }"
                                    ></dx-text-box>
                                </div>
                            </div>
                            <div class="dx-field">
                                <div class="dx-field-label">Max length</div>
                                <div class="dx-field-value">
                                    <dx-number-box
                                            [(value)]="field.maxLength"
                                            [inputAttr]="{ 'aria-label': 'Maximum length' }"
                                    ></dx-number-box>
                                </div>
                            </div>
                            <div class="dx-field">
                                <div class="dx-field-label">Max value</div>
                                <div class="dx-field-value">
                                    <dx-number-box
                                            [(value)]="field.maximum"
                                            [inputAttr]="{ 'aria-label': 'Maximum value' }"
                                    ></dx-number-box>
                                </div>
                            </div>
                        </dxi-item>
                    </dx-box>
                </div>
            </div>
        </form>

        <div class="dx-fieldset buttons bottom">
            <dx-button (onClick)="newField()" *ngIf="currentItem.type !== 'table'" icon="add"
                       text="Add new Field"></dx-button>
            <dx-button (onClick)="updateItem()" [disabled]="getFormGroup()?.invalid" id="update" text="Update"
                       type="default"></dx-button>
            <dx-button (onClick)="cancelEditItem()" text="Cancel"></dx-button>
            <dx-button (onClick)="deleteItem()" id="delete" text="Delete"></dx-button>
        </div>
    </div>
</dx-popup>
