::ng-deep #container {
  position: relative;
  width: calc(100vw - 301px);
  height: calc(100% - 50px);
  top: 40px;
  background: var(--background-color);
  background-size: 25px 25px;
  background-image: linear-gradient(to right, #f1f1f1 1px, transparent 1px),
    linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}

::ng-deep .node {
  padding: 16px;
  border-radius: 8px;
  background-color: aliceblue;
  margin: 8px;
  position: absolute;
}

::ng-deep .wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  display: flex;
}

::ng-deep .dragging-node {
  background-color: #0f172a;
  color: white;
}

::ng-deep .connector {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid lightgray;
  cursor: pointer;
}

::ng-deep .left-connector {
  left: -4px;
  top: 36%;
}

::ng-deep .right-connector {
  right: -4px;
  top: 36%;
}

.btn-import {
  float: right;
  position: absolute;
  top: 10px;
  right: 150px;
  color: white;
  font-weight: bold;
  border: 1px solid #0f172a;
  background: #0f172a;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

.btn-export {
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-weight: bold;
  border: 1px solid #0f172a;
  background: #0f172a;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

.btn-clear {
  float: right;
  position: absolute;
  top: 10px;
  right: 85px;
  color: white;
  font-weight: bold;
  border: 1px solid #0f172a;
  background: #0f172a;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

mat-drawer {
  background-color: #0f172a;
  width: 260px;
}

mat-drawer-container {
  height: 100%;
}

::ng-deep {
  :root {
    --border-color: #cacaca;
    --background-color: #ffffff;
    --background-box-title: #f7f7f7;
  }
}
