.page {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the top-left */
    justify-content: flex-start; /* Align content to the top-left */
    height: 100vh;
  
    .page-box {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #333;
    }
  
    .page-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* Align items to the top-left */
      width: 100%;
  
      .page-content-data {
        width: 100%;
        max-width: 400px;
  
        .page-content-data-inner {
          background-color: #f5f5f5;
          border-radius: 10px;
          padding: 20px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }
    }
}
}