::ng-deep {
  .mat-mdc-dialog-container.mdc-dialog.cdk-dialog-container.mdc-dialog--open {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

