
#header {
  height: 8%;
  display: grid;
  align-content: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2)
}

#body {
  height: 92%;
}

#devq-simple-logo {
  height: 40px;
  width: auto;
}

#drawer-title {
  font-size: 22px;
  margin-bottom: 0;
  margin-left: 10px;
  color: rgb(2, 4, 29);
}


#body > .dx-drawer {
  background-color: rgb(2, 4, 29);
}



.title {
  width: 350px;
  height: 100%;
  background-color: white;
}

::ng-deep .dx-overlay-content {
  background-color: lightgray;
}
::ng-deep #toolbar {
  padding: 5px 10px;
}
::ng-deep .dx-toolbar-button .dx-button {
  background-color: rgba(191, 191, 191, -0.15);
  border: none;
}
::ng-deep .dx-toolbar-button > .dx-toolbar-item-content {
  margin-left: -7px;
}