#header {
  height: 8%;
  display: grid;
  align-content: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2)
}

#body {
  height: 92%;
}

#devq-simple-logo {
  height: 40px;
  width: auto;
}

#drawer-title {
  margin-bottom: 0;
  margin-left: 10px;
  color: #0565af;
}

.title {
  width: 350px;
  height: 100%;
  background-color: white;
}