mat-toolbar {
  height: auto;
}

#project-title {
  margin-left: 1%;
  overflow: clip;
}

#devq-simple-logo {
  display: inline-block;
  height: 2.5em;
  width: auto;
  margin-left: auto;
  margin-right: 50%;
}



