#title {
  margin-left: 20px;
  font-size: 20px;
}

#devq-simple-logo {
  height: 40px;
  width: auto;
}

#title > #project-title > #project-title-textbox {
  width: 15em;
}

b {
  font-size: 25px;
  color: #000000;
}

::ng-deep .dx-toolbar-button .dx-button {
  color: #000000;
  border: none;
}