#project-title {
  font-size: 20px;
}

#title {
  margin-left: 20px;
}

#logo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

dx-toolbar {
  height: 8%;
}

#devq-simple-logo {
  height: 40px;
  width: auto;
}
