<dx-toolbar id="toolbar">
    <dxi-item *ngIf="!isSidebarOpen" widget="dxButton" [options]="buttonOptions" location="before">
    </dxi-item>
    <dxi-item locateInMenu="never" location="before">
        <div id="title">
            <div id="project-title">
                <ng-template *ngIf="isModifiable; then modifiable else justText"></ng-template>
                <ng-template #modifiable>
                    <dx-text-box (onEnterKey)="switchToText()" (onFocusOut)="switchToText()"
                        [(value)]="configurationService.projectTitle" [inputAttr]="{ 'aria-label': 'Project Title' }"
                        [maxLength]="25" id="project-title-textbox" stylingMode="filled"></dx-text-box>
                </ng-template>
                <ng-template #justText>
                    <span (click)="isModifiable = true" id="project-title-text"><b>{{ configurationService.projectTitle
                            }}</b></span>
                </ng-template>
            </div>
        </div>
    </dxi-item>
    <dxi-item locateInMenu="never" location="center">
        <img alt="DevQ Logo" id="devq-simple-logo" src="assets/images/logos/logo.svg">
    </dxi-item>
    <dxi-item widget="dxButton" [options]="exitButtonOptions" location="after">
    </dxi-item>
</dx-toolbar>