<div class="overlay"></div>
<div class="rules">
    <dx-button class="changeButton" icon="rename" hint="Change configuration"
        (click)="modify_iot_rules_configuration()"></dx-button>
    <div class="container">

        <!-- First Box-->
        <div class="box" [style.zIndex]="firstBoxZIndex">
            <div class="step-indicator">1</div>
            <h2 class="box-title">Storage settings</h2>
            <p class="box-subtitle">Configure the database and table for Timestream, used to store data from IoT
                devices.</p>
            <dx-validation-group>
                <form [formGroup]="form" class="form">

                    <div class="field-container">
                        <div class="field-label">Database *</div>
                        <div class="field-value">
                            <dx-text-box [(value)]="iot.database_name" [showClearButton]="true"
                                [inputAttr]="{ 'aria-label': 'database_name' }" formControlName="database_name"
                                label="Database Name" labelMode="floating">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                        message="Database name is required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>

                    <div class="field-container">
                        <div class="field-label">Table *</div>
                        <div class="field-value">
                            <dx-text-box [(value)]="iot.table_name" [showClearButton]="true"
                                [inputAttr]="{ 'aria-label': 'table_name' }" formControlName="table_name"
                                label="Table Name" labelMode="floating">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                        message="Table name is required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>

                </form>
                <dx-button id="nextButton" icon="chevronnext" [useSubmitBehavior]="true"
                    (onClick)="firstBox_nextButton()"></dx-button>
            </dx-validation-group>
        </div>

        <div class="arrow"></div>
        <div class="triangle"></div>

        <!-- Second Box-->
        <div class="box" [style.zIndex]="secondBoxZIndex">
            <div class="step-indicator">2</div>
            <h2 class="box-title">Choice storage method</h2>
            <p class="box-subtitle">Choose the methodology for storing data read by IoT devices.</p>
            <dx-validation-group id="validationGroup">
                <dx-check-box id="checkbox" *ngFor="let item of choice_list; let i = index" [(value)]="item.value"
                    [text]="choice_list[i].text" (onValueChanged)="onStorageMethodChanged()"
                    [(isValid)]="isSecondBoxValid">
                </dx-check-box>
                <dx-button id="backwardsButton" icon="chevronleft" (onClick)="secondBox_backButton()"></dx-button>
                <dx-button id="nextButton" icon="chevronnext" [useSubmitBehavior]="true"
                    (onClick)="secondBox_nextButton()"></dx-button>
            </dx-validation-group>
        </div>

        <div class="arrow"></div>
        <div class="triangle"></div>

        <!-- Third Box-->
        <div class="box" [style.zIndex]="thirdBoxZIndex">
            <div class="step-indicator">3</div>
            <h2 class="box-title">Topic configuration</h2>
            <p class="box-subtitle">Set the topic on which the thing will send data.</p>
            <dx-validation-group>
                <form [formGroup]="form" class="form">
                    <div class="field-container" *ngIf="configure_topic || showTopics">

                        <div class="field-label">Topic mqtt *</div>
                        <div class="field-value">
                            <dx-text-box [(value)]="iot.topic" [showClearButton]="true"
                                [inputAttr]="{ 'aria-label': 'topic' }" formControlName="topic" label="Topic"
                                labelMode="floating">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                        message="Topic is required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>

                        <div class="select-label">Select *</div>
                        <div class="field-value">
                            <dx-tag-box [(value)]="iot.select_fields" [items]="items"
                                [inputAttr]="{ 'aria-label': 'select' }" [acceptCustomValue]="true" label="Fields"
                                labelMode="floating" [placeholder]="' '" [multiline]="true" [noDataText]="' '"
                                (onValueChanged)="onValueChanged($event)">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                        message="Select fields is required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-tag-box>
                        </div>
                    </div>

                    <div class="field-container" *ngIf="!configure_topic || showTopics">
                        <div class="field-label">Topic shadow *</div>
                        <div class="field-value">
                            <dx-text-box class="fixTopic" [inputAttr]="{ 'aria-label': 'topic' }"
                                value="$aws/things/thingName/shadow/update/documents" [disabled]="true">
                            </dx-text-box>
                        </div>
                    </div>

                </form>
                <dx-button id="backwardsButton" icon="chevronleft" (onClick)="thirdBox_backButton()"></dx-button>
                <dx-button id="nextButton" icon="save" [useSubmitBehavior]="true" (onClick)="save_button()"></dx-button>
            </dx-validation-group>
        </div>
        <dx-toast [(visible)]="isToastVisible" [type]="type" [message]="message">
        </dx-toast>
    </div>
</div>