.externalLink {
  text-decoration: underline;
  color: #0565af;
}

.logo a img {
  display: inline-block;
  height: 7em;
  width: auto;
}

#drop-area {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  display: table;
  font-size: 16px;
}

#devq-text-logo {
  margin: 35px auto;
}

#open-create-text {
  color: #444444;
  font-size: 30px;
  text-decoration: none;
  margin: 15px auto;
}

#caption {
  margin: 90px auto 70px auto;
  text-align: center;
  color: #444444;
  width: 500px;
}

#caption > span {
  font-size: 25px;
  margin: 10px auto;
}

#caption > p {
  font-size: 15px;
  margin: 10px auto;
  width: 450px;
}

#open-create-icons {
  position: fixed;
  bottom: 3%;
  left: 2%;
}

.child-button {
  border-radius: 30px;
  background-color: #0565af;
  margin-right: 15px;
}

.externalLink:hover {
  cursor: pointer;
}

dx-button {
  height: 50px;
  width: 50px;
}

::ng-deep .dx-button-mode-contained .dx-icon {
  color: #f1f1f1 !important;
}
