<div class="content" id="drop-area">

  <div class="logo" id="project-logo">
    <a href="https://www.devq.it/">
      <img alt="DevQ Logo" src="assets/images/logos/logo-devq.svg">
    </a>
  </div>

  <div class="open-create" id="open-create-text">

    <a routerLink="/dash">Apri</a>
    o
    <a routerLink="">crea</a>
    un nuovo diagramma BPMN per iniziare

  </div>

  <div class="description" id="caption">
    <span>
      Modella e crea facilmente il tuo sistema IoT
    </span>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean volutpat convallis sapien, vitae semper enim
      volutpat facilisis. Maecenas et lacus arcu. Mauris cursus eu risus nec iaculis. Integer a diam ut nisl luctus
      convallis vitae non metus. Suspendisse potenti. In in ipsum sem. Curabitur et mauris eget augue lacinia malesuada.
      Vivamus euismod neque convallis, maximus lacus at, semper sapien.Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Aenean volutpat convallis sapien, vitae semper enim volutpat facilisis. Maecenas et lacus arcu.
      Mauris cursus eu risus nec iaculis. Integer a diam ut nisl luctus convallis vitae non metus. Suspendisse potenti.
      In in ipsum sem.</p>
  </div>

  <div class="open-create" id="open-create-icons">

    <a id="new-diagram-button" routerLink="/dash">
      <button aria-label="Create a new project" class="child-button" mat-icon-button
              matTooltip="Create a new project">
        <mat-icon>add</mat-icon>
      </button>
    </a>
    <a>
      <button aria-label="Open a pre existing project" class="child-button" mat-icon-button
              matTooltip="Open a pre existing project">
        <mat-icon>upload_file</mat-icon>
      </button>
    </a>
  </div>

</div>
