<dx-tab-panel 
    id="tabPanel"
    [swipeEnabled]="true"
    [(selectedIndex)]="selectedTabIndex">
        
    <dxi-item 
    title="Storage" 
    icon="floppy"
    [disabled]="isDisable_firstTab">


    <div  class="form-container" *dxTemplate>
        <dx-form
            id="form"
        >
            <dxi-item 
            dataField="database name"
            [isRequired]="true">
                <dxi-validation-rule  type="required" ></dxi-validation-rule>  
                <dxo-label template="database name"></dxo-label>
            </dxi-item>
            <dxi-item 
            dataField="table name"
            [isRequired]="true">
                <dxi-validation-rule  type="required" ></dxi-validation-rule>  
                <dxo-label template="table name"></dxo-label>
            </dxi-item>
            <ng-container *ngFor="let label of labelTemplates">
                <div *dxTemplate="let data of label.name">
                    <div><i class="dx-icon {{ label.icon }}"></i>{{ data.text }}</div>
                </div>
            </ng-container>
        </dx-form>

            <dx-button id="nextButton"
                text="Avanti"
                (onClick)="seconStep()"
                >

                 <!-- [disabled]="isButtonDisabled"-->
            </dx-button>
    </div>

       
    </dxi-item>
    <dxi-item 
    title="Configure" 
    icon="rename"
    [disabled]="isDisable_secondTab">

    <div *dxTemplate>
        <dx-radio-group class="configure"
            [items]="choice">
        </dx-radio-group>

        
        <dx-button class="second_button"
        text="Avanti"
        (onClick)="thirdStep()">
        </dx-button>
    </div>
       

    </dxi-item>
    <dxi-item 
    title="Topic" 
    icon="comment"
    [disabled]="isDisable_thirdTab">
        <!-- ... -->
    </dxi-item>
</dx-tab-panel>
