<div *dxTemplate="let data of 'content'">
    <div class="dx-fieldset">
        <div class="dx-field">
            <div class="dx-field-label">ID</div>
            <div class="dx-field-value">
                <dx-text-box
                        [(value)]="currentEmployee"
                        [inputAttr]="{ 'aria-label': 'ID' }"
                ></dx-text-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Name</div>
            <div class="dx-field-value">
                <dx-text-box
                        [(value)]="currentEmployee"
                        [inputAttr]="{ 'aria-label': 'Name' }"
                ></dx-text-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Item type</div>
            <div class="dx-field-value">
                <dx-text-box
                        [disabled]="true"
                        [inputAttr]="{ 'aria-label': 'Item type' }"
                        [value]="itemType | titlecase"
                ></dx-text-box>
            </div>
        </div>

        <div [ngSwitch]="this.selectedItem?.type">

            <div *ngSwitchCase="'entity'" class="entityCondition">
                <div class="dx-field">
                    <div class="dx-field-label">Table</div>
                    <div class="dx-field-value">
                        <dx-text-box
                                [(value)]="currentEmployee"
                                [inputAttr]="{ 'aria-label': 'Table' }"
                        ></dx-text-box>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="'table'" class="tableCondition">
                <div class="dx-field">
                    <div class="dx-field-label">Partition Key</div>
                    <div class="dx-field-value">
                        <dx-text-box
                                [(value)]="currentEmployee"
                                [inputAttr]="{ 'aria-label': 'Partition Key' }"
                        ></dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Sort Key</div>
                    <div class="dx-field-value">
                        <dx-text-box
                                [(value)]="currentEmployee"
                                [inputAttr]="{ 'aria-label': 'Sort Key' }"
                        ></dx-text-box>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="null" class="linkCondition">
                <div class="dx-field">
                    <div class="dx-field-label">First Entity</div>
                    <div class="dx-field-value">
                        <dx-text-box
                                [(value)]="currentEmployee"
                                [inputAttr]="{ 'aria-label': 'First Entity' }"
                        ></dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Second Entity</div>
                    <div class="dx-field-value">
                        <dx-text-box
                                [(value)]="currentEmployee"
                                [inputAttr]="{ 'aria-label': 'Second Entity' }"
                        ></dx-text-box>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dx-fieldset buttons">
        <dx-button (click)="closePopup()" text="Update" type="default">
        </dx-button>
        <dx-button (click)="closePopup()" text="Cancel"></dx-button>
    </div>
</div>
