.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 20px;
  }
  
  .box {
    width: 30vw;
    max-width: 500px;
    height: 70vh;
    background-color: white;
    position: relative;
  }
  
  .arrow {
    position: relative;
    width: 15%;
    height: 0;
    border-bottom: 2px dashed black;
    z-index: 1; 
  }
  
  .arrow::after {
    content: '';
    position: absolute;
    top: -10px;
    right: -20px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-left: 20px solid black;
    z-index: 2; 
  }
  