<div class="wrapper">
  <mat-drawer-container>
    <mat-drawer [opened]="sideBarOpen" mode="side">
      <app-sidenav></app-sidenav>
    </mat-drawer>
  </mat-drawer-container>
  <div (dragover)="allowDrop($event)" (drop)="drop($event)" id="drawflow">
    <div class="btn-import">
      <label for="fileInput">Import</label>
      <input (change)="import($event)" class="input" id="fileInput" type="file">
    </div>
    <div (click)="viewJson()" class="btn-view">View JSON</div>
    <div (click)="export()" class="btn-export">Export</div>
    <div (click)="clearModuleSelected()" class="btn-clear">Clear</div>
  </div>
</div>
