<div class="wrapper">
  <div class="col">
      <div class="drag-drawflow" draggable="true" data-node="entity">
          <i class="fab fa-entity"></i><span> Entity</span>
      </div>
      <div class="drag-drawflow" draggable="true" data-node="link">
          <i class="fab fa-link"></i><span> Link</span>
      </div>
      <div class="drag-drawflow" draggable="true" data-node="table">
          <i class="fab fa-table"></i><span>Table</span>
      </div>
  </div>


  <div class="col-right">
      <div class="menu">
          <ul>
              <li onclick="editor.changeModule('Home'); changeModule(event);" class="selected">Home</li>
          </ul>
      </div>
      <div id="drawflow" (ondrop)="drop($event)" (dragover)="allowDrop($event)">

          <div class="btn-export" (click)="export()">Export</div>
          <div class="btn-clear" (click)="clearModuleSelected()">Clear</div>
      </div>
  </div>
</div>
